header {
  background-image: url(../../resources/background_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30rem;
  height: 100vh;
  position: fixed;
  text-align: center;
}
header h2,
nav a {
  color: white;
  display: flex;
  justify-content: center;
}
header h2 {
  margin-top: 3rem;
  font-size: 5rem;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  background: red;
}
header nav {
  margin-top: 17rem;
  font-size: 2rem;
}
header nav a {
  margin: 1.5rem;
}
header .blackbox {
  width: 100%;
  height: 100%;
  background-color: rgb(128, 128, 128, 0.5);
  position: absolute;
  z-index: -1;
}
main {
  padding-left: 32rem;
  text-align: center;
}
main h2,
p {
  text-align: left;
}
main h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 0px;
}
main img {
  padding-bottom: 10px;
}
main p {
  line-height: 2;
}
